@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,700&display=swap"); */

#root {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color-scheme: light;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a.active {
  background-color: rgb(221, 230, 238);
  padding: 0.5rem;
  border-radius: 5px;
}
